@model LSGlossary.Models.UserForView

@{
    ViewBag.Title = "PersonalPage";
}

<h2>PersonalPage</h2>
<h2>@Model.Login</h2>
<div id="tableBlock" class="table-responsive"></div>
@section scripts
{
    <script src="~/Scripts/crud.js" type="text/javascript"></script>
}